:root {
	--background: #2b3945;
	--foreground: #ffffff;
	--foreground-control: #ffffff;
	--highlight: #202c37;

	--shadow: #27333f;
	--card: #202c37;
}

[data-color-scheme='light'] {
	--background: #ffffff;
	--foreground: #000000;
	--foreground-control: #858585;
	--highlight: #fafafa;

	--shadow: #e6e6e6;
	--card: #ffffff;
}
